/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap');

:root {
    --background-color: #121212;
    --hover-bg: #333;
    --text-color: #ffffff;
    --primary-color: #dedede;
    --font-family: 'Fira Sans', sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0;
}

#app {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

table {
    overflow: hidden;
    border-collapse: collapse;
    width: 100%;
}

tr {
    border: 1px solid #444;
}

th,
td {
    padding: .5em;
}

th {
    text-align: left;
    font-weight: 400;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .3);
}

th.centered {
    text-align: center;
}

th:hover {
    background-color: #555;
}

tr:nth-child(even) {
    background-color: #222;
}

tr:hover {
    background-color: var(--hover-bg);
}

.thumbnail {
    height: 80px;
    width: 80px;
    object-fit: cover;
}